.cabecalho{
    background-color: grey;
    opacity: .5;
}

.about{
  background-image: url('../img/banners/banner-Copia.jpg');
}

.about2{
  background-image: url('../img/banners/ex3.jpg');
}

.about,
.about2{
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    flex-direction: column;
}

.hamburguer{
    color: orange;
}

.about-text,
.buscamos,
.vida{
    /* margin: 3px; */
    text-align: center;
}

.titles {
  font-family: VeneerClean-soft, Arial, sans-serif;
  font-size: 37px;
  color: #102156;
  margin-top: 22px;
  padding-right: 19px;
}

.bug{
    width: 30px;
}

.Separador{
  margin-top: 0;
  margin-bottom: 0;
}



/*///////////////////////// Header///////////////////////////// */
  .hamb-img{
    height: 37px;
    background-color: transparent;
    width: 38px;
    margin-top: 3px;
  }

  .hamb-button{
    border: none;
  }

  .home-img{
    background-color: transparent;
    background-image:   url(../img/home_tr2.png);
    width: 10px;
    background-size: 38px;
    padding-bottom: 17px;
    padding-top: 4px;
    padding-right: 27px;
    padding-left: 20px;
    padding-top: 27px;
    padding-bottom: 11px;
    background-repeat: no-repeat;
    border: none;
  }
 
  .duvida-img{
    background-color: transparent;
    background-image: url(../img/questionIcon_tr2.png);  /*url(../img/menuDuvida2.jpg)*/
    width: 10px;
    background-size: 38px;
    background-repeat: no-repeat;
    padding-bottom: 17px;
    padding-top: 4px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
  }
 
  .entrar-img{
    background-color: transparent;
    background-image: url(../img/userIcon_tr2.png);  ;/*url(../img/menuEntrar2.jpg)*/
    width: 10px;
    background-size: 38px;
    background-repeat: no-repeat;
    padding-bottom: 11px;
    padding-top: 27px;
    padding-right: 27px;
    padding-left: 20px;
    border: none;
  }
 
  .contato-img{
    background-color: transparent;
    background-image: url(../img/email_tr2.png);  ;/*url(../img/menuEntrar2.jpg)*/
    width: 10px;
    background-size: 182px;
    background-repeat: no-repeat;
    padding-bottom: 17px;
    padding-top: 27px;
    padding-right: 163px;
    padding-left: 23px;
    border: none;
  }

  
 
  html{
    scroll-behavior: smooth;
  }




/*///////////////////////// Intro///////////////////////////// */
  .videoIntro{
    width: 464px;
  }


/*///////////////////////// History///////////////////////////// */
  .boxHistory{
    background-color: #f7f7f7;
  }

  .historyImg{
    width: 160px;
    height: 150px;
    margin-top: 17px;
  }

  .textHistoryRight{
    background-color: #f1f2f4;
  }

  .ourHistory{
    text-align: center;
    width: -webkit-fill-available;
  }

  .HistoryRight{
    margin-left: 10px !important;
    margin-right: 10px !important;
    text-align: center;
  }

/*/////////////////////photos and facts//////////////////////// */
  .sizeMarcas{
    width: 100px;
    height: 100px;
  }

  sizeMarcas:active{
    transform: translateY(4px);
  }

  .marcasImg{
    overflow: hidden;
  }

  .marcasImg {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .marcasImg:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .vip-marcas{
    padding-right: 210px;
    padding-left: 210px;
    margin-right: 34px;
  }

  .marcasImg{
    overflow: hidden;
  }

  .shadow{
    width: 100px;
    margin: 0 auto;
    height: 100px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
  }

  .bottom {
  box-shadow: 0px 15px 10px -15px #111;
  }

  /*/////////////////////Footer//////////////////////// */
  .social{
    color:#102156;
  }

  .img-footer{
    background-image:   url(../img/Banners/ex5.jpg);
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .logoFooter{
    margin-left: 0;
    width: 137px;
    color: #102156;
    text-align: center;
    margin-top: 1px;
    
    
  } 






@media(max-width:576px){
  /*///////////////////////// @media(max-width:576px) Intro///////////////////////////// */
    .about{
      background-image: url('../img/banners/banner-Copia2.jpg');
    }
    .videoIntro{
      margin-top: 239px;
      /* margin-right: 15px; */
      width: 250px;
      height: 329;
    }
    .menuHamb{
      background-color: black;
    }
    .menuBtns{
      text-align: center;
    }

    

  /*///////////////////////// @media(max-width:576px) History///////////////////////////// */
    .ourHistory{
      text-align: center;
    }
    .HistoryRight{
      height: -webkit-fill-available;
      margin-left: 10px !important;
      margin-right: 10px !important;
    }

    .textHistoryRight{
      font-size: medium!important;
      text-align: center!important;
      /* padding-left: 0px!important;
      padding-right: 0px!important; */
      /* top: 192px;
      right: 58px; */
      height: fit-content;
      margin-bottom: 0px;
    }

  /*///////////////////////// @media(max-width:576px) Business///////////////////////////// */
    .videoBusiness{
      height: 180px;
      width: 261px;
    }

    /*///////////////////////// @media(max-width:576px) Why///////////////////////////// */
    .videoWhy{
      width: 261px;
      height: 149px;
    }

  /*/////////////////////@media(max-width:576px) world//////////////////////// */
    .textWorld{
      background-color: transparent;
      color: #818181;
      height: 40px;
    }
    .firstNewsIMG{
      margin-top: 38px;
    }
    .secondNewsIMG{
      margin: 0px;
    }

  /*/////////////////////@media(max-width:576px) photos and facts//////////////////////// */


  /*/////////////////////@media(max-width:576px) footer//////////////////////// */

}


@media(min-width:561px){
  /*///////////////////////// @media(min-width:561px) Header///////////////////////////// */
    .menuHamb{
      background-color: black;
    }

  /*///////////////////////// @media(min-width:561px) Intro///////////////////////////// */
    .videoIntro{
      margin-top: 135px;
    }
   
}

@media(min-width:720px){
  /*///////////////////////// @media(min-width:720px) Header///////////////////////////// */
    .contato-img{
      padding-right: 189px;
    }
    
    .menuBtns{
      text-align: right;
    }

    .menuHamb{
      background-color: black;
    }

  
    /*///////////////////////// @media(min-width:720px) Intro///////////////////////////// */
    .videoIntro{
      margin-top: 133px;
    }
}
  


@media(min-width:961px){

  .about-text{
      width: 50%;
      margin-left: auto;
      margin-top: auto;
  }

  .about,
  .about2{
      height: 400px;
      flex-direction: row;
  }

  .about2{
      justify-content: space-between;
  }

  .buscamos{
      width: 50%;
  }

  .vida{
      width: 50%;
      margin-top: auto;
  }
  
  /*/////////////////////photos and facts//////////////////////// */
    /* .photosImgs{
      padding-left: 44px !important;
      padding-right: 0px !important;
    } */
  /*///////////////////////// @media(min-width:961px) Header///////////////////////////// */
    .menuHamb{
      background-color: transparent;
    }
    
    .menuBtns{
      text-align: right;
    }

}
